<div class='main-nav'>
  <nav class='navbar navbar-light'>
    <a [routerLink]='["/"]' class='navbar-brand mr-auto'>Company.WebApplication1</a>
    <button type='button' class='navbar-toggler mr-2' (click)='toggle()'>
      <span class='sr-only'>Toggle navigation</span>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='navbar-collapse collapse' [ngClass]='{ "show": isExpanded }'>
      <ul class='nav navbar-nav'>
        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a class="nav-link" [routerLink]='["/"]'>
            Home
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link" [routerLink]='["/counter"]'>
            Counter
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link" [routerLink]='["/fetch-data"]'>
            Fetch data
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
